.category_table { cursor: pointer; }
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute !important;
    opacity: 0.5 !important;;
    z-index: 2000 !important;;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
