.box {
    position: relative !important;
    border-radius: 3px !important;
    background: #fff !important;
    /*border-top: 3px solid #d2d6de !important;*/
    margin-bottom: 20px !important;
    width: 100% !important;
}

box-body {
    padding: 10px !important;
    border-radius: 0 0 3px 3px !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.box-title {
    font-size: 22px !important;
    height: 33px;
    line-height: 33px;
	padding-left:12px;
    color: #AAA9A9 !important;
}

.btn-app {
    position: relative !important;
    padding: 8px 3px !important;
    margin: 0 0 7px 14px !important;
    min-width: 11.5% !important;
    /*height: 11% !important;*/
    color: #666 !important;
    border: 1px solid #ddd !important;
    background-color: #ffffff !important;
    font-size: 11px !important;
    text-align: center !important;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}


.service-catalogue {
    height: 60px !important;
}

/*.btn-app:active, .btn-app:focus {*/
/*    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;*/
/*    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;*/
/*    box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;*/
/*}*/

.selectedCat{
    background: #549fe0 !important;
}

.addMoreAttrType, .addMoreAttrValue, .removeMoreAttrValue, .removeMoreAttrType{
    padding: 10px 12px !important;
}


.attributeTable td, .attributeTable th {
    border: none !important;
    border-top: 0px solid !important;
}

.attributeTable {
    border: none !important;

}

/*table tr:last-child {*/
/*    padding: 100px !important;*/
/*}*/

.half-rule {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
    content:'OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
    content:'ON';
}

.calenderIcon{
    display: inline-block;
    float: right;
    position: absolute;
    left: 93%;
    bottom: 38.5%;
}

.calenderIconPrev {
    display: inline-block;
    float: right;
    position: absolute;
    left: 4%;
    bottom: 38.5%;
}

.selectedColor{
    /*background: #1383c5b8 !important;*/
    -webkit-box-shadow: 0px 1px 3px 3px #1383c533 !important;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1px 3px 3px #1383c533 !important;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 1px 3px 3px #1383c533 !important;
}

.todayColor{
    background: #ddd  !important;
}

.calender_split {
    font-size: 17px;
    font-weight: 600;
}

/*--------- END --------*/
.main-container-style {
    min-height: 600px;
}
.cat-text{
    font-size: 18px;
}

