html,
body {
  padding: 0;
  margin: 0;
  font-family:'Exo', sans-serif;
  height: 100%;
}


.container {
  display:flex;
  flex-direction: row;
  min-height:100%;
}

.home-left {  
  flex-basis: 50%;
  background-color:red;
}

.home-right {  
  flex-basis: 50%;
  background-color:green;
}

.home-right {
  background-color:#529519;
  background-image:url("../images/right_background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  flex-basis: 50%;
  width:100%;
  display: flex;
  flex-direction:column;
}


.home-left {  
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*min-height:800px;*/
}


.home-l-top{
	background-color:#fff;
	opacity:0.95;	
	padding:6% 6% 18% 6%;
	flex: 6;
}
.home-l-bottom{
  flex: 1;
}

.hr-div{
	width:14%;
}
.top-dash{	
	border:1px solid #529519;
}
.welcome-text{
	color:#336699;
	font-size:3.8vw;
	/*font-size:60px;*/
	font-weight:bolder;
	line-height:50%;
}
.welcome-text2{
	color:#336699;
	font-size:4.5vw;
	font-weight:bold;
	line-height:90%;
}
.welcome-text3{
	color:#336699;
	font-size:3.5vw;
	line-height:50%;
}

.detail-text{
	padding-top:3%;
	color:#336699;
	font-size:1.3vw;
}
.nav-div{
	flex:2;
}
.nav{
	padding:4.2% 8.2%;
}
.nav-link{
	color:white;
	padding:.1rem .2rem;
	font-size:12px;
}
.nav-item:nth-child(1)>.nav-link{
	 padding:.1rem 3rem;
}

.disable{
	color:white !important;
}
.kalevi_logo{
	margin: auto;
	flex:3;	
}
.logo{
	margin: auto;
	flex:1;	
}
.contact{
	width:100%;
	color:#fff;
	flex:1;	
	display:flex;
}
.contact-left{
	width:100%;
	flex:10;	
	text-align:right;
	padding-right:2%;

}
.contact-right{
	flex:9;	
	width:100%;
	padding-left:2%;
}
.start-text{
	color:#FFFFFF;
	font-size:3.7vw;
	font-weight:bold;
	line-height:60%;
	margin: auto;
	flex:3;	
	text-align:center;
}

.sign_up_button{
	margin: auto;
	flex:6;	
	padding:2px;
}
.sign_up_button>button {
	background: linear-gradient(183deg, #5488BD 0%, #336699 100%);
	padding-left: 3rem;
	padding-right: 3rem;
	margin:auto;
	font-weight:bold;
}

.reg-l-top{
	background-color:#fff;
	opacity:0.95;	
	padding:6% 6% 14% 6%;
	flex: 1;
}
.reg-l-bottom{
  background-color: green;
  flex: 5;
}
.reg-right {
  background-color:#529519;
  background-image:url("../images/right_background.png"); /*this backgroun image will change later, when shadi will provide the background image*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  flex: 1;
  width:100%;
  display: flex;
  flex-direction:column;
  min-height:600px;
}


label{
	color:gray;
	font-size:20px;
}

/*-------------page style----------------*/

.page-content {
  background-color:#fff;
  background-image:url("../images/bg_pectogram.png"); /*this backgroun image will change later, when shadi will provide the background image*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  flex: 1;
  width:100%;
  display: flex;
  flex-direction:column;
  min-height:800px;
  padding:2% 4% 2% 4%;
}

.navp{
	padding:0% 6% 1% 6%;
}
.nav-linkp{
	color:#5488BD;
	padding:.1rem .2rem;
	font-size:12px;
}
.nav-itemp:nth-child(1)>.nav-linkp{
	 padding:.1rem 3rem;
}

.hr-div-fullpage{
	width:8%;
}



@media (min-width:600px){
	.container{
		margin: auto;
		align-items: stretch;
		justify-content: space-between;
	}	
}


@media (max-width:600px){
	.container{
		flex-direction: column;
		flex-direction: column-reverse ;
	}	
	.home-left {
		flex-basis:100%;
	}
	.home-right {
		flex-basis:100%;
		min-height:500px;
	}
	.reg-right {
		flex-basis:100%;
	}

	
}

@media (max-width:1280px){
	
	.container {
		min-width: 100%;	
		min-height: 100%;
	}	
}


@media (min-width:1280px){
	body{
	  background-image:url("../images/background.png");
	  background-repeat: no-repeat;
	  background-size: 100%;
	}	
}


@media (max-width:880px){
	.welcome-text{
		font-size:30px;
	}
	.welcome-text2{
		font-size:40px;
	}
	.welcome-text3{
		font-size:30px;
	}

	.detail-text{
		font-size:16px;
	}
	.sign_up_button{
		margin: auto;
		flex:6;	
		padding:2px 10px;
	}
	.sign_up_button>button {
		background: linear-gradient(183deg, #5488BD 0%, #336699 100%);
		padding-left: 1rem;
		padding-right: 1rem;
		margin:auto;
		font-weight:bold;
	}

}


