html,
body {
  padding: 0;
  margin: 0;
  margin: 0;
  font-family:'Exo', sans-serif;
  height: 100%;
}


::-webkit-scrollbar {
  width: .4em;
  height: 10px;
}

::-webkit-scrollbar-track {
	background-color: #E2E7EE;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4A8E23 ;
  border-radius: 4px;
  max-height: 20px !important;
}


.container {
  display:flex;
  flex-direction: row;
  min-height:100%;
  min-width:100%;
  margin:0;
  padding:0;
}

.home-left {
  flex-basis: 50%;
  background-color:#FFFFFF;
}

.home-right {
  flex-basis: 50%;
  background-color:green;
}

.home-right {
  background-color:#529519;
  background-image:url("../images/right_background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  flex-basis: 50%;
  width:100%;
  display: flex;
  flex-direction:column;
}


.home-left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*min-height:800px;*/
}

.home-l-top{
	background-color:#fff;
	opacity:0.95;
	padding:6% 6% 18% 6%;
	flex: 6;
}
.home-l-bottom{
  flex: 1;
}

.img-fluid{width:100%}
.img-fluid-30{width:30%}
.img-fluid-60{width:60%}
.hr-div{
	width:12%;
	float:left;
}
.close-div{
	width:100%;
}
.close_modal{
	width:86%;
	text-align:right;
	color: #b3b2b2;
	cursor: pointer;
}

.close_detail{
	width:100%;
	text-align:right;
	color: #b3b2b2;
	cursor: pointer;
	padding:2%;
}



.glyphicon-remove{
	font-size:20x;
}

.top-dash{
	border:1px solid #529519;
}
.welcome-text{
	 clear: left;
	color:#336699;
	font-size:5vw;
	font-weight:620;
	line-height:90%;
}
.welcome-text2{
	color:#336699;
	font-size:6vw;
	font-weight:bold;
	line-height:80%;
}
.welcome-text3{
	color:#336699;
	font-size:3.5vw;
	line-height:50%;
}

.detail-text{
	padding-top:1.5%;
	color:#336699;
	font-size:1.4vw;
}
.detail-text-f{
	font-size:1.7vw !important;
}
.nav-div{
	flex:3;
}
.nav{
	padding:4.2% 8.2%;
}
.nav-link{
	color:white;
	padding:.1rem .3rem;
	font-size:16px;
}
.nav-item:nth-child(1)>div>.nav-link{
	 padding:.1rem 1rem;
}
.nav-item:nth-child(2){
	display:none;
}
.padding-right-p{
	padding-right:15%;
}

.fa_down{
	font-size: 15px;
	padding-left:5px;
	padding-right:5px;
}

.disable{
	color:white !important;
}
.kalevi_logo{
	margin: auto;
	flex:3;
}
.logo{
	margin: auto;
	flex:1;
}
.contact{
	width:100%;
	padding-top:2%;
	color:#fff;
	flex:2;
	display:flex;
}
.contact-left{
	width:100%;
	flex:10;
	text-align:right;
	padding-right:2%;

}
.contact-right{
	flex:9;
	width:100%;
	padding-left:2%;
}
.start-text{
	color:#FFFFFF;
	font-size:5vw;
	font-weight:bold;
	line-height:80%;
	margin: auto;
	flex:4;
	text-align:center;
}

.sign_up_button{
	margin: auto;
	flex:5;
}
.sign_up_button>button {
	background: linear-gradient(183deg, #5488BD 0%, #336699 100%);
	padding: .4rem 4rem;
	margin:auto;
	font-weight:bold;
	font-size:1.3vw;
	border-color:#1585D8;
	border-radius: 8px;
	cursor:pointer;
}


.reg-l-top{
	background-color:#fff;
	opacity:0.95;
	padding:6% 6% 2% 6%;
	flex: 1;
}
.reg-l-bottom{
  background-color:#fff;
  padding:2% 15% 2% 6%;
  flex: 5;
}
.reg-right {
  background-color:#529519;
  background-image:url("../images/right_background.png"); /*this backgroun image will change later, when shadi will provide the background image*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  flex: 1;
  width:100%;
  display: flex;
  flex-direction:column;
  min-height:600px;
}



label{
	color:#354052;
	font-size:1.5vw;
	margin-bottom: .1rem;
}

.reg_field{
	width:100%;
	height:45px;
	border: 1px solid #DFE3E9;
	background-color: #FFFFFF;
	border-radius:0px;
}

.register_button{
	margin: auto;
	flex:6;
	text-align:right;
}
.register_button>button {
	background: linear-gradient(183deg, #5488BD 0%, #336699 100%);
	padding:2% 15%;
	margin:auto;
	font-size:16px;
	border-color:#1585D8;
	border-radius: 8px;
	text-transform:uppercase;

}

.login_button>button{
	padding:5% 25%;
	text-transform:none;
}
.general_agreement_btn>button{
	padding:.7% 4.5%;
}
.confirm_button >button{
	padding:5px 30px;
	text-transform:none;
}

#sign_signature{
	margin-right:5%;
}


.gradient-border{
	-webkit-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	-moz-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	 box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
}
.bold{
	font-weight:bold;
}
.link{
	font-size:1.2vw;
}
.grayy{
	color:#354052;
}
.underline{
	text-decoration:underline;
}
.lowercase{
	text-transform:lowercase;
}
.no-text-transform{
	text-transform: none !important;
}

.uppercase{
	text-transform:uppercase;
}

.register1_button{
	margin: auto;
	flex:6;
	text-align:right;
}
.register1_button>button {
	background: linear-gradient(183deg, #5488BD 0%, #336699 100%);
	padding:.7% 4%;
	margin:auto;
	font-size:16px;
	border-color:#1585D8;
	border-radius: 7px;
	text-transform:uppercase;
}


.ritem_terms_button>button {
	padding:1% 1% !important;
	min-width:150px;
	margin:3% !important;
	font-size:12px !important;
}
.ritem_terms_button > .btn-success{
	border-radius: 6px;
}
.ritem_terms_button > .btn-primary{
	border-radius: 6px;
}



.login_field{
	width:743px;
	height:64px;
	border: 1px solid #DFE3E9;
	background-color: #FFFFFF;
	border-radius:0px;
}


/*-------------page style----------------*/



.page-content {
  margin: 0;
  width:100%;
  height:100%;
  background-image:url("../images/bg_pectogram.png"); /*this backgroun image will change later, when shadi will provide the background image*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display:flex;
  flex-direction: column;
  align-items: stretch
}

.agreement-content {
  margin: 0;
  width:100%;
  height:auto;
  background-image:url("../images/terms_bg.png"); /*this backgroun image will change later, when shadi will provide the background image*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  display:flex;
  flex-direction: column;
  align-items: stretch
}

.no-background{
	background:none !important;
}
.height-100p{
	height:100% !important;
}



.page-top{
	flex: 1;
	display:flex;
	flex-direction: row;
}
.page-bottom{
  flex: 10;
  padding:2% 5%;
 /* overflow:auto;*/
}

.page-top-l{
	width: 75%;
	padding:3% 2% 0 2%;

}
.page-top-r{
	width: 25%;
}

.page-top-l-text{
	padding:0px 0px 0px 5%;
	flex: 1;
}
.width-100{
	width:100%;
}


.nav-page{
	padding: 7% 7% 0 0;
}

 .blue-color{
	color:#336699;
 }
.page-bottom-content{
  overflow:auto;
  scrollbar-color: green;
}

.page-bottom-text{
	color: #336699;
	font-size: 1.6vw;
}








 /*---------------------- Customize the label (the container) --------------------------*/
.check-container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  color:#999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background: linear-gradient(183deg, #5488BD 0%, #336699 100%);
  border-radius: 8px;
  margin-top: -2px;
}

/*
background: linear-gradient(183deg, #5488BD 0%, #336699 100%);
	border-color:#1585D8;
	border-radius: 8px;;
*/

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 14px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*------------------------------------------- checkbox design----------------------------*/

.sig-bottom-text{
	color: #336699;
	font-size: 1.5vw;

}

.signn-box {
	box-sizing: border-box;
	height: 266px;
	width:95%;
	border: 1px solid #DFE3E9;
	background-color: #FFFFFF;
	margin:3% 0;
	border-radius:8px;
}

.categories-container {
	padding:0;
	height: 100%;
	width: 100%;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
	cursor:pointer;
}

.categories-item {
  border: 1px solid #DFE2E5;
  background-color: #FFFFFF;
  height: auto;
  width: 30%;
  padding:6.5% 2%;
  margin-top: 50px;
  font-weight: bold;
  font-size: 2.4vw;
  display: flex;
 /* background-image:url("../images/check-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;*/

}

.categories-item>a{
	 margin:auto;
	 color: #3F6F9F;
	 text-decoration:none;
}

.categories-item:hover{
	border: 1px solid #DFE2E5;
	background-color: #336699;
	color:#FFFFFF;
	/*filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(318deg) brightness(85%) contrast(80%);*/
}
.categories-item>a:hover{
	color:#FFFFFF;
}

.item-container {
	padding:5px ;
	width: 100%;
	overflow:auto;
	scrollbar-color: green;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	cursor:pointer;
	align-items: flex-start;
}


.category-button-group {
	padding:2px 0;
	width: 100%;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;/* space-between;*/
	cursor:pointer;
}


.category-button {
	background-color: #FFFFFF;
	display: flex;
	padding:8px 12px;
	font-size:1.4vw;
	color: #336699;
	border-radius: 10px;
	margin:0 .5%;
	border: 1px solid #CCCCCC;
}


.category-button:hover {
	background-color: #336699;
	color: #FFFFFF;
	/*border:none;*/
	-webkit-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	-moz-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	border-color:#336699;
	border-radius: 8px;
}



svg {
  width: 0px;
  height: 0px;
}

.button-img{
	width:2vw;
	height:2vw;
	/*height:auto;*/
	filter: invert(57%) sepia(60%) saturate(500%) hue-rotate(169deg) brightness(67%) contrast(100%);
	margin-right:3px;
}

.button-img:hover{
	filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(169deg) brightness(100%) contrast(100%);
}

.white-color{
	color:#FFFFFF !important;
}


/*
#panaroma_service>span>.button-img{
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(105%) contrast(100%);
}
*/


.items {
  padding:1.5%;
  border: 1px solid #DFE2E5;
  border-radius:8px;
  width: 23%;
  margin-bottom: 50px;
  margin-right:1%;
  font-weight: bold;
  font-size: 1vw;
  display: flex;
  color: #3F6F9F;
  display:flex;
  flex-direction:column;
  background-color: #FFFFFF !important;

}


/*
.security{
  background: url("../images/security-w.svg") no-repeat bottom right;
  background-size: 60% auto;
}

.tv_internet{
  background: url("../images/antenna-w.svg") no-repeat bottom right;
  background-size: 60% auto;
}

.cleaning{
  background: url("../images/cleaning-w.svg") no-repeat bottom right;
  background-size: 50% auto ;
}
.maintainance{
  background: url("../images/tools-w.svg") no-repeat bottom right;
  background-size: 60% auto;
}
.health_sport{
  background: url("../images/gym-w.svg") no-repeat bottom right;
  background-size: 60% auto;
}

.panaroma_service{
  background: url("../images/panaroma.svg") no-repeat bottom right;
  background-size: 60% auto;
}
*/

.cat-security{
  background: url("../images/security-w.svg") no-repeat bottom right;
  background-size: 20% auto;
  background-color: #FFFFFF;
}
.cat-tv_internet{
  background: url("../images/antenna-w.svg") no-repeat bottom right;
  background-size: 20% auto;
  background-color: #FFFFFF;
}

.cat-cleaning{
  background: url("../images/cleaning-w.svg") no-repeat bottom right;
  background-size: 20% auto;
  background-color: #FFFFFF;
}
.cat-maintainance{
  background: url("../images/tools-w.svg") no-repeat bottom right;
  background-size: 20% auto;
  background-color: #FFFFFF;
}
.cat-health_sport{
  background: url("../images/gym-w.svg") no-repeat bottom right;
  background-size: 20% auto;
  background-color: #FFFFFF;
}
.cat-panaroma_service{
  background: url("../images/panaroma.svg") no-repeat bottom right;
  background-size: 30% auto;
  background-color: #FFFFFF;
}

.items>a:hover{
	cursor:none;
}

.iso-nav>.active{
	background-color: #336699;
	color: #FFFFFF;
	border:none;
	-webkit-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	-moz-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
}

.iso-nav>div.active>span>img{
	filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(169deg) brightness(100%) contrast(100%);
}
.gray-svg{
	filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(169deg) brightness(100%) contrast(100%);
}


.package {
	color: #336699;
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	padding-top:2%;
}
.rate{
	color: #336699;
	font-size: 4vw;
	text-align: center;
	font-weight:normal;
	line-height: 70px;
}
.per-month{
	color: #336699;
	font-size: 1.5vw;
	text-align: center;
	font-weight:normal;
	min-height:40px;
}
.uss-security-logo {
	/*padding-top:25px;*/
	padding-top:41px;
    padding-bottom:25px;
	font-size: 1.4vw;
	font-weight: bold;
	color:black;
	/*height: 50px;
	width: 192px;*/
	text-align: center;
}


.service_button{
	justify-content:space-between;
}

.service_button>button {
	background: linear-gradient(183deg, #5488BD 0%, #336699 100%);
	margin:auto;
	font-weight:bold;
	font-size:.7vw;
	border-color:#1585D8;
	border-radius: 4px;
	text-transform:uppercase;
	padding:2% 3%;
}

.confirm_btn{
	padding-left:15px !important;
	padding-right:15px !important;
}

.service_button>.btn-success{
	box-sizing: border-box;
	border: 1px solid #4A8E23 ;
	background: linear-gradient(356deg, #4A8E23 0%, #6BAC42 100%);
}
.service_button>.btn-success:hover{
	box-sizing: border-box;
	border: 1px solid #1585D8;
}
/*
.item-container>li:hover{
	border: 1px solid #DFE2E5;
}
*/
.panaroma-modal{
  max-width:70%;
  min-height:70%;

}

.modal-body{
	padding:0;
}

.modal-dialog-15{
	//margin-top:15%;
}

.low-opacity{
	opacity:30%;
}
.selected-date{
	color: #8D8D8D;
	font-size: 1.2vw;
	font-weight: bold;
	padding-top:10px;
	text-align: center;
}
.page-top-l-modal{
	width:100%;
}
.date-time-box {
	margin:auto;
	box-sizing: border-box;
	height: 80%;
	width: 80%;
}
.date-time-box-top{
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	padding-top:5px;
	padding-bottom:10px;
}

.date-time-box-footer{
	display:flex;
	flex-direction: row;
	height:auto;
	justify-content:space-around;
	font-size:1.5vw;
	padding-top:20px;
	width: 95%;
	margin:auto;
}


.date-type{
	flex-basis:45%;
	padding:5% ;
	background-color:#FFFFFF;
	font-size:1.5vw;
	color: #336699;
	border: 1px solid #DFE2E5;
	border-radius:4px;
}
.date-type-selected{

	font-weight:bold;
	-webkit-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	-moz-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
}

#selected_date_time{
	font-weight:bold;
	color:#9f9d9d;
}

.date-time-box-top>.btn:focus{
	/*-webkit-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	-moz-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);*/
	/*box-shadow: none ;0px 0px 7px 1px rgba(152,158,171,1);*/
}
/*
.date-time-box-top>.btn:hover{
	color:#369;
	font-weight:bold;
}*/
.dropdown-menu{
	min-width: 4rem;
	border-radius: 8px;
	margin: .8rem 0 0;
}

.dropdown>.btn:hover{
	color:#fff;
}
.show>.btn{
	color:#fff !important;
}

.glyphicon-chevron-right{
	color:#369;
}
.glyphicon-chevron-left{
	color:#369;
}


.date-time-box-bottom{
	background-color: #FFFFFF;
	/*border: 1px solid #DFE3E9;*/
	/*height: 100%;*/
	width: 95%;
	margin:auto;
}

.remove-selection{
	color: #8D8D8D;
	font-size: 15px;
	text-align: right;
	padding-top:10px;
	font-weight:normal;
}

.img-20px{
	width:20px;
}

.selected-border{
	-webkit-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	-moz-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);

}

.selected-item{
	-webkit-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	-moz-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	z-index: 1;
	/*margin-bottom:120px;*/
}

.details-items {
  border: 4px solid #DCEAF9;
  background-color: #FFFFFF;
  min-height: 380px;
  width: 100%;
  margin-top: 50px;
  font-weight: bold;
  font-size: 53px;
  display: flex;
  background-image:url("../images/select-background-sq.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
 color: #3F6F9F;
 display:flex;
 flex-direction:row;
 justify-content:between;
 border-radius:8px;
}


.details-items-left {
 width: 25%;
}

.details-items-right {
   width: 80%;
   display:flex;
   flex-direction:column;
}
.details-items-right > .detail-text{
	flex:5;
	padding-left:85px;
}
.details-items-right > .service_button{
	flex:2;
	padding:25px;
}
.details-items-right > .service_button>button{
	padding:5px 25px;
}
.details-items-dright > .service_button>button{
	padding:5px 25px;
}
.detail-text{
	font-weight:normal;
	display:flex;
}



.details-items-d {
 	-webkit-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	-moz-box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
	box-shadow: 0px 0px 7px 1px rgba(152,158,171,1);
  background-color: #FFFFFF;
  border-radius:8px;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5vw;
  display: flex;
  background-image:url("../images/select-background-sq.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #3F6F9F;
  display:flex;
  flex-direction:row;
  justify-content:between;
  padding-bottom:10px;
}
.details-items-dleft {
 width: 40%;
 padding:3%;
}
.details-items-dright {
   width: 60%;
   display:flex;
   flex-direction:column;
}
.details-items-dright>.package{
	font-size:2.4vw;
}
.details-items-dright>.detail-text{
	font-size:1.5vw;
}
.details-items-dright>.rate{
	font-size:4vw;
}
.de-left{
	width:30%;
	text-align:left;
}
.de-right{
	width:70%;
	text-align:left;
}

.rate>.small{
	font-size:1.4vw;
}








@media screen and (min-width: 1440px) {
	.item-container{
		height:570px !important;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
	.item-container{
		height:510px !important;
	}
}
@media screen and (min-width: 1097px) and (max-width: 1279px) {
	.item-container{
		height:440px !important;
	}
}

@media screen and (min-width: 959px) and (max-width: 1098px) {
	.item-container{
		height:340px !important;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media screen
and (min-width : 320px)
and (max-width : 480px) {
    /* Styles */
    .item-container{
        height: 239px !important;
    }
}

@media screen
and (min-width : 410px)
and (max-width : 915px) {
    /* Styles */
    .item-container{
        height: 239px !important;
    }
}



.no-top-padding{
	padding-top:0px;
}
.no-bottom-margin{
	margin-bottom:0px;
}
.no-bottom-padding{
	padding-top:0px;
}
.no-left-padding{
	padding-left:0px;
}
.left-padding-40{
	padding-left:40px;
}
.left-padding-20{
	padding-left:20px;
}
.right-padding-40{
	padding-right:40px;
}
.right-padding-20{
	padding-left:20px;
}
.top-padding-20{
	padding-top:20px;
}
.top-padding-15{
	padding-top:15px;
}
.top-padding-1pc{
	padding-top:1% !important;
}
.bottom-padding-20{
	padding-bottom:20px;
}

.orderHistoryTbl{
    background: #ffffffc7 !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    border: 1px solid #417bff14 !important;
    /*overflow: hidden;*/
}

.orderHistoryTbl th, td{
    border: 0px solid white !important;
}

.orderHistoryTbl thead td {
    border-bottom: 1px solid #0000001f !important;
    color: #336599 !important;
}

.selected_slide_image {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}



